<% @event.fields.each do |field| %>
	<h4>Field Name: <%= field.name %> </h4>		
	<h4>Field Address: <%= field.address %></h4>		
	<h4>City: <%= field.city %></h4>		
	<h4>State: <%= field.state %></h4>		
<% end %>