<li><%= link_to "LAX Community", root_path %></li>
<% if user_signed_in? %>
<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<% end %>